.Heading {
  text-align: center;
  padding-top: 45px;
  padding-right: 15px;
}
.Form-submit {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #3f3232;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Forgot_email,
.Forgot_phnum {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #203031;
  border-radius: 6px;
  outline: none;
  background: #252525;
  color: white;
}

.Forgot_email:focus,
.Forgot_phnum:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(77, 171, 247, 0.7);
}

.Forgot-btn {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Forgot-btn:hover {
  background-color: #0056b3;
}
